html
    head 
        title= title 
    body 
        h1= message
        nav
            li
                a(href='/') Home
            li
                a(href='/client') Clients
            li
                a(href='/admin') Admin
        
        