html
    head 
        title Client 

    body 
        h1 Page client
        
        a(href="/") Return dashboard
        
        br
        
        h3= person.firstName
        h3= person.lastName
        
        //- br
        
        //- h3= account.balance
