html
    head 
        title= title 
    body 
        h1= message
        nav
            li
                a(href='/') Home
            li
                a(href='/client') Clients
            li
                a(href='/admin') Admin

        form(action="/" method="POST")
            p
                | Deposit :
                input(type="number", name='name', value='')
                input(type="submit", value="Submit")
                | Transfert :
                input(type="number", name='name', value='')
                input(type="submit", value="Submit")
                | Withdraw :
                input(type="number", name='name', value='')
                input(type="submit", value="Submit")
