
html
    head 
        title Client 

    body 
        h1 Page client
        
        a(href="/") Return dashboard
        
        br
        
        h3= person.firstName
        h3= person.lastName

        form(action='/add_movie', method='POST')
            p
                | Person to transfer: 
                select
                    each person in listPerson
                        option(value=person.firstName) #{person.firstName}
            p
                | Amount to transfer: 
                input(type='number', name='monnaie', value='')
            
            input(type='submit', value='Submit')
