html
    head 
        title Home 
        
    body(style='text-align: center') 
        h1 Dashboard
        h2 List of all clients

        container(style='display: flex')
            table(style='width:60%', border='1')
                    tr
                        th First Name
                        th Last Name 

                    each person  in listPerson
                        tr
                            td 
                                a(href="/client/"+person.idPerson)=person.firstName
                            td= person.lastName

            table(style='width:40%', border='1')
                    tr
                        th Balance

                    each account in balance
                        tr
                            td= account.balance


                
        

           




