html
    head 
        title= title 
    body 
        h1= pageTitle

        h2= message
        ul  
            //- each val in user 
            //-     li 
            //-         a(href="/profile/"+val.name)=val.name 